In [119]:
import pandas as pd
import matplotlib.pyplot as plt

from loan_default.etl.extract import read_data

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [120]:
#df = read_data()
#df

In [121]:
df = pd.read_csv("C:/Users/lukea/Documents/projects/LoanDefault/data/Anonymize_Loan_Default_data.csv")
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,...,total_acc,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,repay_fail
2,2,2,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,RENT,...,1.0,0.000000,0.00,0.00,0.00,Jan-07,0.00,Jan-07,Jan-07,1
3,545583,703644,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,RENT,...,10.0,3075.291779,3075.29,2500.00,575.29,Jul-13,90.85,Aug-13,Jun-16,0
4,532101,687836,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,RENT,...,15.0,2948.760000,2948.76,1909.02,873.81,Nov-11,175.67,NaN,Mar-12,1
5,877788,1092507,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,MORTGAGE,...,20.0,8082.391880,8082.39,7000.00,1082.39,Mar-14,1550.27,NaN,Mar-14,0
6,875406,1089981,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,RENT,...,15.0,2161.663244,2161.66,2000.00,161.66,Feb-14,53.12,NaN,Jun-16,0

In [122]:
df.iloc[50:60, :]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,...,total_acc,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,repay_fail
52,740505,938229,35000.0,35000.0,28825.006020,60 months,21.74,961.50,NaN,MORTGAGE,...,26.0,12320.780000,10145.25,2787.92,4894.00,Jan-12,961.50,NaN,Jun-12,1
53,495891,635280,8500.0,8500.0,8500.000000,36 months,10.62,276.76,2 years,RENT,...,35.0,9385.106074,9385.11,8500.00,885.11,Jun-11,5795.20,NaN,Feb-15,0
54,522602,675979,10000.0,9550.0,9418.065777,60 months,10.75,206.46,5 years,MORTGAGE,...,39.0,11652.608100,11478.75,9550.00,2102.61,Jan-13,5463.99,NaN,Apr-13,0
55,519239,671269,12000.0,12000.0,11955.059290,36 months,12.73,402.77,4 years,OWN,...,5.0,14501.225660,14439.49,12000.00,2501.23,Jun-13,466.45,NaN,May-13,0
1,1,1,NaN,NaN,NaN,60 months,100.99,NaN,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,Jan-99,NaN,Jan-99,Jan-99,0
56,768605,969928,19250.0,19250.0,19250.000000,60 months,14.79,455.84,8 years,MORTGAGE,...,16.0,26715.930000,26715.93,19250.00,7465.93,Jul-15,56.73,NaN,Jun-16,0
57,735359,932052,11000.0,11000.0,10975.000000,60 months,10.37,235.73,10+ years,MORTGAGE,...,16.0,14068.660010,14036.69,11000.00,3068.66,Aug-15,2310.28,NaN,Sep-15,0
58,659702,843747,6000.0,6000.0,6000.000000,36 months,14.54,206.65,2 years,RENT,...,18.0,7441.761269,7441.76,6000.00,1441.76,Feb-14,217.67,NaN,Feb-14,0
59,812580,1019748,16000.0,16000.0,16000.000000,36 months,10.99,523.75,< 1 year,OWN,...,43.0,18779.645730,18779.65,16000.00,2779.65,Feb-14,2728.64,NaN,Jun-16,0
60,645220,825612,8000.0,8000.0,7900.000000,36 months,7.66,249.44,< 1 year,RENT,...,4.0,8936.899904,8825.19,8000.00,936.90,Aug-13,1991.79,NaN,Aug-13,0

In [123]:
# Remove index 1 (mostly null values)
df.drop(index=1, inplace=True)
df.reset_index()
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,...,total_acc,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,repay_fail
2,2,2,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,RENT,...,1.0,0.000000,0.00,0.00,0.00,Jan-07,0.00,Jan-07,Jan-07,1
3,545583,703644,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,RENT,...,10.0,3075.291779,3075.29,2500.00,575.29,Jul-13,90.85,Aug-13,Jun-16,0
4,532101,687836,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,RENT,...,15.0,2948.760000,2948.76,1909.02,873.81,Nov-11,175.67,NaN,Mar-12,1
5,877788,1092507,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,MORTGAGE,...,20.0,8082.391880,8082.39,7000.00,1082.39,Mar-14,1550.27,NaN,Mar-14,0
6,875406,1089981,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,RENT,...,15.0,2161.663244,2161.66,2000.00,161.66,Feb-14,53.12,NaN,Jun-16,0

In [124]:
df.drop(columns=["member_id", "id"], inplace=True)
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,...,total_acc,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,repay_fail
2,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,...,1.0,0.000000,0.00,0.00,0.00,Jan-07,0.00,Jan-07,Jan-07,1
3,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,...,10.0,3075.291779,3075.29,2500.00,575.29,Jul-13,90.85,Aug-13,Jun-16,0
4,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,RENT,59000.0,Not Verified,...,15.0,2948.760000,2948.76,1909.02,873.81,Nov-11,175.67,NaN,Mar-12,1
5,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,...,20.0,8082.391880,8082.39,7000.00,1082.39,Mar-14,1550.27,NaN,Mar-14,0
6,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,RENT,30000.0,Not Verified,...,15.0,2161.663244,2161.66,2000.00,161.66,Feb-14,53.12,NaN,Jun-16,0

# 1 - Data Cleaning steps
    1) Get rid of percentage in revol_util
        a. Change datatype to "float64"
    2) Change "term" column from format '(int) months' to 'int'
        a. Change data type to "int64"
    3) Delete row with addr_state = "ZZ" (Update - already removed earlier)
    4) Emp_length -> Take off "+" character, make "<1" into "0"
    5) Loan_status -> Delete parts that say "Does not meet credit policy."

In [125]:
# 1 - Deleting percent sign in revol_util and change datatype

df["revol_util"] = df["revol_util"].str.rstrip("%")
df.loc[df["revol_util"] == "ï¿½0.00%ï¿½"] = 0
df["revol_util"] = df["revol_util"].astype(float)
df.rename(columns={"revol_util":"revol_util_%"}, inplace=True)
df["revol_util_%"]

2         0.0
3        21.3
4        99.9
5        47.2
6         0.0
         ...
38476    73.5
38477    39.7
38478    62.2
38479    53.3
38480    62.6
Name: revol_util_%, Length: 38479, dtype: float64

In [126]:
# 2 - Change "term" column format from "(int) months" to "int" and change datatype

int_month_split = df["term"].str.rstrip(" months")
df["term"] = int_month_split
df["term"].astype("float")
df.rename(columns={"term":"term_months"}, inplace=True)
df["term_months"]

2        NaN
3         36
4         36
5         36
6         36
        ...
38476     36
38477     36
38478     60
38479     36
38480     36
Name: term_months, Length: 38479, dtype: object

In [127]:
# 3 - Emp_length -> Take off "+" character, make "<1" into "0"
df["emp_length"] = df["emp_length"].str.rstrip(" years")
df["emp_length"] = df["emp_length"].str.rstrip(" year")
df["emp_length"] = df["emp_length"].str.rstrip("+")
df.loc[df["emp_length"] == "< 1", "emp_length"] = 0
df["emp_length"].value_counts()
df["emp_length"].astype("float")

2         NaN
3         4.0
4         4.0
5        10.0
6        10.0
         ...
38476     3.0
38477     9.0
38478    10.0
38479     1.0
38480     7.0
Name: emp_length, Length: 38479, dtype: float64

In [128]:
df["loan_status"].value_counts()

loan_status
Fully Paid                                             29987
Charged Off                                             5110
Does not meet the credit policy. Status:Fully Paid      1782
Current                                                  866
Does not meet the credit policy. Status:Charged Off      689
Late (31-120 days)                                        20
In Grace Period                                           15
Late (16-30 days)                                          7
Default                                                    2
0                                                          1
Name: count, dtype: int64

In [129]:
# 5 -  Loan_status -> Delete parts that say "Does not meet credit policy."
df["loan_status"] = df["loan_status"].str.lstrip("Does not meet the credit policy. Status:")
df.loc[df["loan_status"] == "fault", "loan_status"] = "Default"
df["loan_status"].value_counts()

loan_status
Fully Paid            31769
Charged Off            5799
Current                 866
Late (31-120 days)       20
In Grace Period          15
Late (16-30 days)         7
Default                   2
Name: count, dtype: int64

# 2 - SKLEARN PIPELINES

In [130]:
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA

In [131]:
y = df["repay_fail"]
X = df.drop(columns="repay_fail")

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [132]:
pipeline = Pipeline([
    
])