In [1]:
from loan_default.etl.extract import extract_data

c:\Users\lukea\miniconda3\envs\LoanDefault\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = extract_data()

KaggleApiHTTPError: 404 Client Error.

Resource not found at URL: https://www.kaggle.com/datasets/joebeachcapital/loan-default/versions/1
The server reported the following issues: Dataset not found
Please make sure you specified the correct resource identifiers.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [8]:
df = pd.read_csv("Anonymize_Loan_Default_data.csv")
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,...,total_acc,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,repay_fail
2,2,2,0.0,0.0,0.00000,36 months,0.00,0.00,< 1 year,RENT,...,1.0,0.000000,0.00,0.00,0.00,Jan-07,0.00,Jan-07,Jan-07,1
3,545583,703644,2500.0,2500.0,2500.00000,36 months,13.98,85.42,4 years,RENT,...,10.0,3075.291779,3075.29,2500.00,575.29,Jul-13,90.85,Aug-13,Jun-16,0
4,532101,687836,5000.0,5000.0,5000.00000,36 months,15.95,175.67,4 years,RENT,...,15.0,2948.760000,2948.76,1909.02,873.81,Nov-11,175.67,NaN,Mar-12,1
5,877788,1092507,7000.0,7000.0,7000.00000,36 months,9.91,225.58,10+ years,MORTGAGE,...,20.0,8082.391880,8082.39,7000.00,1082.39,Mar-14,1550.27,NaN,Mar-14,0
6,875406,1089981,2000.0,2000.0,2000.00000,36 months,5.42,60.32,10+ years,RENT,...,15.0,2161.663244,2161.66,2000.00,161.66,Feb-14,53.12,NaN,Jun-16,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38476,849205,1060907,3000.0,3000.0,3000.00000,36 months,11.99,99.63,3 years,RENT,...,22.0,3586.619764,3586.62,3000.00,586.62,Aug-14,100.30,NaN,Jun-16,0
38477,852914,1065048,10400.0,10400.0,10400.00000,36 months,13.49,352.88,9 years,RENT,...,33.0,12703.534030,12703.53,10400.00,2303.53,Sep-14,393.08,NaN,Jun-16,0
38478,519553,671637,16000.0,10550.0,10531.35818,60 months,14.96,250.77,10+ years,MORTGAGE,...,25.0,14202.267530,14163.31,10550.00,3652.27,Jun-13,5439.96,NaN,Feb-16,0
38479,825638,1034448,10000.0,10000.0,10000.00000,36 months,16.89,355.99,1 year,RENT,...,12.0,12815.178320,12815.18,10000.00,2815.18,Aug-14,380.63,NaN,Sep-15,0
38480,1029847,1249126,3200.0,3200.0,3200.00000,36 months,13.49,108.58,7 years,RENT,...,18.0,3908.767275,3908.77,3200.00,708.77,Dec-14,111.88,NaN,Nov-14,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38480 entries, 2 to 38480
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      38480 non-null  int64
 1   member_id               38480 non-null  int64
 2   loan_amnt               38479 non-null  float64
 3   funded_amnt             38479 non-null  float64
 4   funded_amnt_inv         38479 non-null  float64
 5   term                    38480 non-null  object
 6   int_rate                38480 non-null  float64
 7   installment             38479 non-null  float64
 8   emp_length              37487 non-null  object
 9   home_ownership          38480 non-null  object
 10  annual_inc              38478 non-null  float64
 11  verification_status     38480 non-null  object
 12  issue_d                 38480 non-null  object
 13  loan_status             38480 non-null  object
 14  purpose                 38480 non-null  object
 15  zip_code                38480 non-null  object
 16  addr_state              38480 non-null  object
 17  dti                     38480 non-null  float64
 18  delinq_2yrs             38479 non-null  float64
 19  earliest_cr_line        38480 non-null  object
 20  inq_last_6mths          38479 non-null  float64
 21  mths_since_last_delinq  14117 non-null  float64
 22  open_acc                38479 non-null  float64
 23  pub_rec                 38479 non-null  float64
 24  revol_bal               38476 non-null  float64
 25  revol_util              38421 non-null  object
 26  total_acc               38479 non-null  float64
 27  total_pymnt             38479 non-null  float64
 28  total_pymnt_inv         38479 non-null  float64
 29  total_rec_prncp         38479 non-null  float64
 30  total_rec_int           38479 non-null  float64
 31  last_pymnt_d            38409 non-null  object
 32  last_pymnt_amnt         38479 non-null  float64
 33  next_pymnt_d            3383 non-null   object
 34  last_credit_pull_d      38477 non-null  object
 35  repay_fail              38480 non-null  int64
dtypes: float64(19), int64(3), object(14)
memory usage: 10.9+ MB

In [22]:
#len(df["id"].unique())
len(df["member_id"].unique())

38480

In [27]:
df["next_pymnt_d"].value_counts()[-20:-1]

next_pymnt_d
Dec-14    3
Feb-15    3
Jul-08    3
Apr-08    3
Jun-14    2
Dec-15    2
Oct-14    2
Jan-08    2
Jul-14    2
Feb-16    2
Aug-14    2
Mar-08    2
Jan-07    1
Jan-99    1
May-08    1
Feb-08    1
Mar-15    1
Jun-16    1
Dec-07    1
Name: count, dtype: int64

In [28]:
df["earliest_cr_line"]

2        Jan-01
3        Aug-05
4        Apr-94
5        Mar-98
6        Jan-75
          ...
38476    Jan-00
38477    Apr-99
38478    Dec-95
38479    Jul-07
38480    Oct-95
Name: earliest_cr_line, Length: 38480, dtype: object

In [29]:
df["revol_util"]

2        �0.00%�
3         21.30%
4         99.90%
5         47.20%
6             0%
          ...
38476     73.50%
38477     39.70%
38478     62.20%
38479     53.30%
38480     62.60%
Name: revol_util, Length: 38480, dtype: object

In [31]:
df["term"].value_counts()

term
36 months    28593
60 months     9887
Name: count, dtype: int64

In [32]:
df["emp_length"].value_counts()

emp_length
10+ years    8465
< 1 year     4565
2 years      4292
3 years      3939
4 years      3314
1 year       3254
5 years      3171
6 years      2144
7 years      1702
8 years      1445
9 years      1196
Name: count, dtype: int64

In [34]:
df["home_ownership"].value_counts()

home_ownership
RENT        18253
MORTGAGE    17140
OWN          2958
OTHER         125
NONE            4
Name: count, dtype: int64

In [36]:
df["verification_status"].value_counts()

verification_status
Not Verified       16962
Verified           12170
Source Verified     9348
Name: count, dtype: int64

In [37]:
df["loan_status"].value_counts()

loan_status
Fully Paid                                             29987
Charged Off                                             5111
Does not meet the credit policy. Status:Fully Paid      1782
Current                                                  867
Does not meet the credit policy. Status:Charged Off      689
Late (31-120 days)                                        20
In Grace Period                                           15
Late (16-30 days)                                          7
Default                                                    2
Name: count, dtype: int64

In [38]:
df["purpose"].value_counts()

purpose
debt_consolidation    17917
credit_card            4974
other                  3950
home_improvement       2901
major_purchase         2079
small_business         1808
car                    1481
wedding                 909
medical                 675
moving                  562
house                   387
educational             386
vacation                360
renewable_energy         91
Name: count, dtype: int64